.test {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 50px minmax(400px, 1fr) 60px;
  grid-template-areas:
    "header"
    "main"
    "footer";
}
.header {
  color: black;
  background-color: lightgray;
  display: grid;
  grid-template-columns: minmax(80px, 200px) minmax(220px, 1fr);
  grid-gap: 10px;
  align-items: center;
  grid-area: header;
}
.main {
  display: flex;
  justify-content: center;
  grid-area: main;
}

.page {
  flex-grow: 8;
  max-width: 1600px;
  min-width: 320px;
}

.item {
  flex-basis: 10%;
  flex-shrink: 3;
}

.footer {
  margin-top: auto;
  grid-area: footer;
}

.header_style {
  color: black;
  background-color: lightgreen;
}

.test_style {
  color: black;
  background-color: lightblue;
}
