* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg{
  background: #FDF7FF;
  position: absolute;
  top: 0;
  left:0;
  z-index: -100;
  min-width: 100%;
  min-height: 100vh;
}

.grid {
  display: grid;
  align-content: center;
}

input[type="checkbox"] {
  position: fixed;
  z-index: 1;
  top: 40px;
  right: 100px;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type="checkbox"]:before {
  content: "Dark";
  position: absolute;
  color: #E6F4F1;
  background-color: #002C45;
  padding: 10px 20px;
}

input[type="checkbox"]:checked ~ * {
  color: #E6F4F1;
  background-color: #002C45;
}

input[type="checkbox"]:checked:before {
  content: "Light";
  position: absolute;
  color: #002C45;
  background-color: #E6F4F1;
  padding: 10px 20px;
}


.content {
  min-height: 100vh;
  grid-template-columns: minmax(320px, 1600px);
  grid-template-rows: 60px 1fr 80px;
  justify-content: center;
  color: #002C45;
}

.header {
  color: #E6F4F1;
  background-color: #002C45;
  grid-template-columns: 100px 1fr;
}

.main {
  align-content: stretch;
}


h1 {
  color: #EF972C;
}
h1:hover, h2{
  color: #5A98B7;
}


.attention{

}
.interest {
}
.desire {
}
.action {

}

.footer {
  color: #E6F4F1;
  background-color: #002C45;
  grid-row: 3/4;
}
/*




*/
