.test {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 50px minmax(400px, 1fr) 60px;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.header {
  color: black;
  background-color: lightgray;
  display: grid;
  grid-template-columns: minmax(80px, 200px) minmax(220px, 1fr);
  grid-gap: 10px;
  align-items: center;
  grid-area: header;
}

.main {
  display: flex;
  justify-content: center;
  grid-area: main;
}

.page {
  max-width: 1440px;
  min-width: 320px;
  flex-basis: 75%;
}

.groupping {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.groupping_header {
  flex-basis: 100%;
}

.groupping_article {
  color:black;
  flex-basis: 30%;
  min-width: 300px;
  background: orange;
  padding: 10px;
  margin: 10px;
  flex-grow: 1;
}

.footer {
  margin-top: auto;
  grid-area: footer;
}

.header_style {
  background: lightgreen;
}

.test_style {
  background: lightblue;
}

blockquote {
  background: none repeat scroll 0 0 #fafafa;
  border-bottom: 3px dashed #bababa;
  border-top: 3px dashed #bababa;
  color: #878787;
  font-family: Georgia,serif;
  font-size: 16px;
  font-style: italic;
  line-height: 1.45;
  padding: 10px 15px;
  text-align: center;
  margin: 10px;
}
figure {
  background: #5f6a72;
  padding: 10px;
  margin: 0;
  text-align: right;
}
figcaption {
  color: #fff;
  font-weight: bold;
  font-style: italic;
}
figure>img {
    max-width: 100%;
    height: auto;
}
